/*@media
**********************/

@media screen and (max-width:768px)
{
    #body
    {
        max-width: 1280px;
        width: 100%;
        margin: 2px;           
    } 
    
    .sign
    {
        display: flex;      
        
    }
  
    .list-filter
    {
        width: 100%;        
    }
    
    header a:hover
    {
    border-bottom: 2px solid #0065FC;
    padding: 30px;
    border-top: 0px;    
    }
    
    header a 
    {
        display: flex;
        flex-direction: row;
    }
    
    #main
    {
        display:flex;
        flex-direction: column-reverse;
    } 
    
    .populaire
    {
        width: 100%;
        border-radius: 0px;
        height: 589px;
    }   
    
    .container-list-chambre
    {
        display: block;        
        width: 100%;
    }
    
    .chambre-1, .chambre-2, .chambre-3, .chambre-4, .chambre-5, .chambre-6
    {
        width: 86%;
        display: flex;
        flex-direction: column;
    }
    
    .room-s
    {
        display: block;
        width: 100%;
        background-color: white;
    } 
    
    .room-s1 ,.room-s2 ,.room-s3 ,.room-s4 ,.room-s5 ,.room-s6
    {
        margin-top: 23%;
    }
    
    
    .wrapper
    {
        width: 100%;
        display: block;
    }
    
    
    .act1 img,.act4 img
    {
        width: 100%;
        height: 156px;        
    }
    
    .one, .four
    {
        width: 100%;
        height: 162px;
        margin-bottom: 5%;
    
    }
    
    footer
    {
        display: block;
        width: 100%;
        font-size: 120%;
        padding-left: 5%;
    }
    
    footer nav 
    {
        text-align:left;
    }
    
    footer h3
    {
        text-align: left;
    } 
    
    
}

@media screen and (max-width:736px)
{
    .menu
    {
        float: none;
        margin-top: 0px;      
       
    }
    
    .logo,.sign
    {
        display: flex;
        flex-direction: row;
        float:left
    }
    
    header li
    {
        margin-top: 15%;        
    }
  
}


   
