/*@media
**********************/

@media screen and (max-width:768px)
{
    #body
    {
        max-width: 1280px;
        width: 100%;
        margin: 2px;           
    } 
  
    .list-filter
    {
        width: 100%;        
    }
    
    .room-s
    {
        width: 100%;
    }
    
    #main
    {
        display: block;
    }
    
    .container-list-chambre
    {
        display: block;        
        width: 100%;
    }
    
    .chambre-1, .chambre-2, .chambre-3, .chambre-4, .chambre-5, .chambre-6
    {
        width: 100%;
    }
    
    .room-s
    {
        display: block;
        width: 100%;
    }   
    
    .populaire
    {
        width: 100%;
    }
    
    .wrapper
    {
        width: 100%;
        display: block;
    }
    
    footer
    {
        display: block;
        width: 100%;       
    }
    
    footer nav 
    {
        text-align:left;
    }
    
    footer h3
    {
        text-align: left;
    }   
    
}


   
