/* body */

body
{
    font-size: 1rem;
    display: block;
    font-family: 'Raleway', sans-serif;  
}

#container
{
    margin:3%;   
}

/* header */

.sign
{
    color:#0065FC;  
    font-weight: bold;
}

#menu
{
    flex-direction: row;
      float: right;
      justify-content: space-between;
  }

header a:hover
{
    text-decoration: overline;
   color: #0065FC; 
    padding:4%;
}

ul
{
    list-style: none;
    text-decoration: none;
   text-align: center;   
}

header li
{
    display: inline-block;
    padding-right: 23px;
    padding-left: 23px; 
  
}

/* section filtres*/

h1
{
   font-size: 119%; 
}

#cherch
{
     display: flex;
   flex-wrap: nowrap;
    flex-direction: column;
    background-color: white;
    border-radius: 20px/10px;
    width: 100%;
    padding: 3%;
}


.local
{
     background-color:#F2F2F2 ;
      color: white;
    border-radius: 15px 0px 0px 15px;
    border: none;
    height: 49px; 
    width: 45px;
    color: black;
}


#ville
{
    border-top:2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    height: 44px;
    text-align: center;
    font-weight: bold;
    border-right: none;
    border-left: none;
    
 }

.search
{
    background-color:#0065FC ;
      color: white;
    border-radius: 0px 15px 15px 0px;
    border: none;
    height: 49px; 
   
}

h3
{
    display: block;
    font-weight: bold;
    margin-right: 30px;
}

#filter
{
    display: flex;
    
}

.list-filter
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 50px;
    width: 100%;
}

.filtre
{
    box-sizing: border-box;
    border: 2px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    margin-right: 5%;
    line-height: inherit;
    border-radius: 50px;
    margin-block: 1%;
}

.filtre i
{
    text-align: center;
    margin-right: 13px;
    width: 50px;
    color: #0065FC;
    background-color:  #DEEBFF;
    line-height: inherit;
    border-radius: 50%;
}

a
{
    text-decoration: none;
    color: black;
}

#info 
{
    display:flex;
    flex-direction: row;
   padding: 10px; 
   
}

.info-i
{
    border-radius: 50%;
   height: 16px;
    width: 20px;
    border: 1px solid  #F2F2F2;
    text-align: center;
    color: #0065FC;
    margin-right: 15px;
    font-size: 10px;  
    display: inline-block;
    padding-top: 3px;
    
}

/* section hebergement et populaires */

.main
{
    display:flex;
    flex-direction: row;
    margin: auto;
    
  
}

/* section hebergement*/

#room-s
{
  display: flex;
  background-color: #F2F2F2;
    border-radius: 15px;
    width: 61%;
    height: 33%;
    padding: 2%;
flex-direction: row;
}

h2
{
    display: block;
    font-weight: bold;
    font-size: 100%;
   }

.room
{
    display: block;
}

.container-list-chambre
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
}

.chambre-1,.chambre-2,.chambre-3,.chambre-4,.chambre-5,.chambre-6
{
    display:block;
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    box-shadow: 15px 14px 10px 10px #F2F2F2 ;
    margin: 2%;
    text-align: center;
    width: 27%;
}

img.room1,img.room2,img.room3,img.room4,img.room5,img.room6
{
  display: block;
    border-radius: 15px;
   width: 50px;
 }


/* section populaire*/

.container-list-pop
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 23px;
  
}
#populaire
{
    display: flex;
  background-color: #F2F2F2;
    border-radius: 15px;
    width: 28%;
    height: 33%;
    padding: 2%;
flex-direction: column;
    margin-left: 2%;   
   
}

.roompop1 img,.roompop2 img,.roompop3 img
{
    display:block;
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    box-shadow: 15px 14px 10px 10px #F2F2F2 ;
    margin: 2%;
    text-align: center;
    width: 20px;
}

.chambre-best1,.chambre-best2,.chambre-best3
{
   display:block;
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    box-shadow: 15px 14px 10px 10px #F2F2F2 ;
    margin: 2%;
    text-align: center;
    width: 80%;      
}

.star
{
    display: flex;
    text-align: center;
    color:#0065FC;
    font-size: 50%;    
   }

/*section activité*/

.triple1,.triple2
{
    display: flex;
    flex-direction: row;
}
figure
{
    text-align: center
}
#container-Activ figure
{
    display: block;    
    border:1px solid white;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px #F2F2F2;   

}

.act1 img,.act4 img
{  
    border-radius: 15px;
    border: solid 1px #F2F2F2;
    display: block;
   width: 250px;
 height:400px;  
   
}

.act2 img,.act3 img,.act5 img,.act6 img
{display: block;
    margin: 15px;
    border-radius: 10px;
     width:250px;
    height:150px; 
     border: solid 1px #F2F2F2;
}

.activity
{
   
    display: flex;
    background-color: white;
    padding: 2%;
    flex-wrap: wrap;
}

#container-Activ
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
   
}

/* footer */

footer
{
   margin: auto;
  background-color: #F2F2F2; 
    display: flex;
   flex-wrap: wrap;
    width:100%;
    padding: 2%;
    height: 12%;
    justify-content:space-around;
 
}

footer nav
{
    display: flex;
    flex-direction: column;
    font-size: 70%;
    text-align: left;
}

footer h3
{
    text-align: left;
    font-size: 80%;
}

@media screen and (max-width:570px)
{
    #container
    {
        max-width: 570px;
        width: 100%;
        padding:0px;
    }
}
   