/* body 
 ************/

 body
{
    display: block;      
 }

#contener
{
    margin: 2%;
}

*
{
   font-family: 'Raleway', sans-serif; 
   font-size: 99%; 
}

/* titre */

h1
{
   font-size: 119%; 
}

h2
{
    display: block;
    font-weight: bold;
    font-size: 100%;
}

h3
{
    display: block;
    font-weight: bold;
    margin-right: 30px;
}

h5
{
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 0px;
}

h6
{
    visibility: hidden;
    margin: 0px;
    width: 0%;
}

/* header
 ***************/

header
{
    display: block;
    margin: auto;
    width: 100%;
    
}

.sign
{
    color:#0065FC;  
    font-weight: bold;
    padding: 10px;
    padding-top: 3%;  
    margin-left: 0%;   
}

.menu 
{   
    display: flex;
    float: right;
}

header a:hover
{
    border-top: 2px solid #0065FC;    
    color: #0065FC;
}

header a
{
    padding: 15px;
}

ul
{
    list-style: none;
    text-decoration: none;
   text-align: left;   
    padding: 0%;
}

header li
{
    display: inline-block;
    padding-right: 64px;
    padding-left: 23px; 
  
}

/* section filtres
 *******************/

.barre-de-recherche
{
    display:flex;
    flex-direction: row;
}

.container-cherch
{
     display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 2%;
}

.local
{
    background-color:#F2F2F2 ;
    color: white;
    border-radius: 15px 0px 0px 15px;
    border: none;
    height: 49px; 
    width: 45px;
    color: black;
}

#ville
{
    border-top:2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    height: 45px;
    width: 54%;
    text-align: center;
    font-weight: bold;
    border-right: none;
    border-left: none;
    
 }

.search
{
    background-color:#0065FC ;
    color: white;
    border-radius: 0px 15px 15px 0px;
    border: none;
    height: 49px;    
}

.filter
{
    display: flex;
    
}

.list-filter
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    line-height: 50px;
    width: 100%;
}

.filtre
{
    box-sizing: border-box;
    border: 2px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    padding-right: 3%;
    margin-right: 5%;
    line-height: inherit;
    border-radius: 50px;   
}

.filtre:hover
{
   background-color: #0065FC;
    border-color: black;
}

.filtre i
{
    text-align: center;
    margin-right: 13px;
    width: 50px;
    color: #0065FC;
    background-color:  #DEEBFF;
    line-height: inherit;
    border-radius: 50%;
}

a
{
    text-decoration: none;
    color: black;
}

.info 
{
    display:flex;
    flex-direction: row;
   padding: 10px;   
}

.info-i
{
    border-radius: 50%;
    height: 16px;
    width:2%;
    border: 2px solid  #F2F2F2;
    text-align: center;
    color: #0065FC;
    margin-right: 2%;
    font-size: 63%;  
    display: inline-block;
    padding-top: 5px;    
}

/* section hebergement et populaires
  ********************/

#main
{
    display:flex;
    flex-direction: row;
    margin: auto;   
}

#main p
{
    margin-bottom: 0px;
    margin-top: 0px;
}

/*section hebergement
***************************/

.room-s
{
    display: flex;
    background-color: #F2F2F2;
    border-radius: 15px;
    padding: 2%;
    box-sizing: border-box;
    width: 70%;
}

.rooms1
{
    width:100%;
    height: 7rem;
    background-image: url(hebergements/4_small/auberge%20cannebi%C3%A8re.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0px 0px;    
}

.rooms2
{
   width:100%;
    height: 7rem;
    background-image: url(hebergements/4_small/hotel%20port.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0px 0px;     
}

.rooms3
{
    width:100%;
    height: 7rem;
    background-image: url(hebergements/4_small/mouette.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0px 0px;     
}

.rooms4
{
    width:100%;
    height: 7rem;
    background-image: url(hebergements/4_small/hotel%20mer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0px 0px;  
}

.rooms5
{
    width:100%;
    height: 7rem;
    background-image: url(hebergements/4_small/panier.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0px 0px;  
}

.rooms6
{
    width:100%;
    height: 7rem;
    background-image:url("hebergements/4_small/amina.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0px 0px;  
}

.room-s1, .room-s2, .room-s3, .room-s4, .room-s5, .room-s6
{
    font-size: 88%;
    width: 100%;
    height: 56px;
}

.room
{
    display: block;
    margin-top: 2%;
    margin-left: 0%;
}

.container-list-chambre
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 23px;
    width: 100%;
    margin: auto;
}

.chambre-1,.chambre-2,.chambre-3,.chambre-4,.chambre-5,.chambre-6
{
    display:block;   
    border-radius: 15px;
    border: 5px solid white;
    box-shadow: 10px 10px 10px 10px #F2F2F2;
    margin: 1%;
    text-align: left;
    width: 29%; 
    background-color: white;
}

.more   
{
    font-weight: bold;
}


/* section populaire
 ***************************************/

.container-list-pop
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 23px;
  
}

.container-pop
{
    margin-left: 0%;
}
.populaire
{
    display: flex;
    background-color: #F2F2F2;
    border-radius: 15px;
    width: 35%;
    padding: 2%;
    flex-direction: column;
    margin-left: 2%;
    box-sizing: border-box;
   
}

.pop1, .pop2, .pop3
{
    display: block;
    margin-left: 54%;
    font-size: 79%; 
    margin-top: 5%;
}

.chambre-best1
{    
    background-image: url(hebergements/4_small/hotel%20soleil%20matin.jpg);
    background-position: left;
    background-size: 50% 100%;
    background-repeat: no-repeat; 
}

.chambre-best2
{
    background-image: url("hebergements/4_small/coeur%20de%20l'eau.jpg");
    background-position: left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.chambre-best3
{
   
    background-image: url(hebergements/4_small/tout%20bleu%20et%20blanc.jpg);
    background-position: left;
    background-size: 50% 100%;
    background-repeat: no-repeat;
}

.chambre-best1,.chambre-best2, .chambre-best3
{
   display:block;
    background-color: white;
    border-radius: 15px;
    border: 5px solid white;
    box-shadow: 10px 10px 10px 10px #F2F2F2;
    margin: 2%;
    text-align: left;
    width: 90%;    
    height: 136px;  
    box-sizing: border-box;
 
}

.star
{
    display: flex;
    text-align: left;
    color:#0065FC;
    font-size: 50%;    
   }

/*section activité
**************/

.one ,.four
{
    display: flex;
    flex-direction: column;
    text-align: left;
    background-color: white;
    box-shadow: 2px 3px #F2F2F2;
    border:1px solid #F2F2F2;
    border-radius:15px 15px 15px 15px;     
    width: 14rem;
    height: 25rem;
    margin-bottom: 0%;
    margin-top: 0%;
}

.two, .three, .five, .six 
{
    display: flex;
    flex-direction: column;
   text-align: left;
    background-color: white;
    box-shadow: 2px 3px #F2F2F2;
    display: block;    
    border:1px solid #F2F2F2;
    border-radius:15px 15px 15px 15px;     
    width: 14rem;
    height: 12rem; 
}

.act1
{
    background-image: url(activites/4_small/vieux%20port.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width:14rem;
    height: 23rem;
    border-radius: 15px 15px 0px 0px;    
}

.act4
{
    background-image: url(activites/4_small/parc%20national%20calanques.jpg);
    background-position: center;
    background-size: cover;
    width: 14rem;
    height: 23rem;
    border-radius: 15px 15px 0px 0px;
}

.activ2, .activ5
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.act2
{
    background-image:url(activites/4_small/fort%20de%20pom%C3%A9gue.jpg);
    background-position: center;
    background-size: cover;
    width: 14rem;
    height: 10rem;
    border-radius: 15px 15px 0px 0px;  
}

.act3
{
    background-image:url(activites/4_small/iles%20frioul.jpg);
    background-position: center;
    background-size: cover;
    width: 14rem;
    height: 10rem;
    border-radius: 15px 15px 0px 0px;    
}

.act5
{
   background-image:url(activites/4_small/notre%20dame%20de%20la%20garde.jpg);
    background-position: center;
    background-size: cover;
    width: 14rem;
    height: 10rem;
    border-radius: 15px 15px 0px 0px;       
}

.act6
{
    background-image:url(activites/4_small/parc%20longchamp.jpg);
    background-position: center;
    background-size: cover;
    width: 14rem;
    height: 10rem;
    border-radius: 15px 15px 0px 0px;      
}

.titre1, .titre2, .titre3, .titre4, .titre5, .titre6
{
    margin-top: 2%;
    margin-left: 5%;
}

#activity
{
   
    display: block;
    background-color: white;
    padding: 2%;
    margin:auto;
}

.good
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: auto;
    margin: auto;
}

/* footer
*********************** */

footer
{
   margin: auto;
  background-color: #F2F2F2; 
    display: flex;
   flex-wrap: wrap;
    width:100%;
    padding: 2%;
    height: 12%;
    justify-content:space-around;
 
}

footer nav
{
    display: flex;
    flex-direction: column;
    font-size: 70%;
    text-align: left;
}

footer h3
{
    text-align: left;
    font-size: 80%;
    font-weight: bold;
}

footer a:hover
{
    color: #0065FC;
}

/******************************************************************************************************
@media
*******************************************************************************************************/

@media (max-width:768px)
{
    #body
    {        
        width: 100%;
        margin: 2px;           
    } 
    
/*header*************/
        
    .logo
    {
       float:left;
    }
    
    .sign
    {
        float: right;
        position: absolute;
        margin-left: 55%;
     }
  
    .list-filter
    {
        width: 100%;        
    }
    
    header
    {
        width: 100%;
    }
    
    header a:hover
    {
    border-bottom: 2px solid #0065FC;
    padding: 30px;
    border-top: 0px; 
   }   
    
    
    header ul
    {
        display: flex;
        flex-direction: row;
    }
    
    .sign:hover
    {
       border:none;    
    }
    
    header li
    {
        margin-top: 15%;        
    }
    
    header ul
    {
        border-bottom: 2px solid #F2F2F2;
        height: 109px;
        position: static;
       
    }
    
    .menu
    {
        float: none;
        margin-top: 0px; 
        display: flex;
       flex-direction: row;
        justify-content: center;
    }
    
  
/*hebergement********************/   
    
    #main
    {
        display:flex;
        flex-direction: column-reverse;
    } 
    
    .populaire
    {
        width: 100%;
        border-radius: 0px;
        height: 589px;
        margin-left: 0%;
    }   
    
    .container-list-chambre
    {
        display: block;        
        width: 100%;
    }
    
    .chambre-1, .chambre-2, .chambre-3, .chambre-4, .chambre-5, .chambre-6
    {
        width: 86%;
        display: flex;
        flex-direction: column;
    }
    
    .room-s
    {
        display: block;
        width: 100%;
        background-color: white;
    } 
    
    .container-pop
    {
        margin-left: 6%;
    }
    
    .room
    {
        margin-left: 6%;
    }
    
    
/*activité**********************/
    
    .good
    {       
        flex-direction: column;
    }
    
    .activ2, .activ5
    {
        grid-row-gap: 12px;
    }
    
    .one, .four
    {
        margin-bottom: 2%;
        margin-top: 2%;
    }
    
    .one,.two,.three,.four,.five, .six
    {
        width: 100%;
        height: 11rem;
    }
    
    .act1, .act2, .act3, .act4, .act5, .act6
    {
        width: 100%;
        height: 8rem;
    }
    
    .container
    {
        margin:7%;
    }
    
        
/*footer***********************************/    
    
    footer
    {
        display: block;
        width: 100%;
        font-size: 120%;
        padding-left: 5%;
    }
    
    footer nav 
    {
        text-align:left;
    }
    
    footer h3
    {
        text-align: left;
    }    
    
}





   
